.small-screen-only {
  @media (max-width: $breakpoint-xs-max) {
    display: block !important;
  }
  @media (min-width: $breakpoint-sm-min) {
    display: none !important;
  }
}

.large-screen-only {
  @media (max-width: $breakpoint-xs-max) {
    display: none !important;
  }
  @media (min-width: $breakpoint-sm-min) {
    display: block !important;
  }
}

@font-face {
  font-family: "Arupala Grotesk Ultra";
  src: url("src/assets/fonts/ArupalaGrotesk-Ultra.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aileron Heavy";
  src: url("src/assets/fonts/aileron/Aileron-Heavy.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aileron Bold";
  src: url("src/assets/fonts/aileron/Aileron-Bold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aileron Light";
  src: url("src/assets/fonts/aileron/Aileron-Light.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.constrain {
  max-width: 975px;
  margin: 0 auto;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.taille-page {
  height: 86.95vh;
  @media (max-width: 767px) {
    height: 79.8vh;
  }
}
